.App {
height: 900px;
width: 1440px;
left: -720px;
top: -451px;
border-radius: 0px;

/*FLEX*/
  display: flex;
  flex-direction: row;
}

.Left__Part{
  margin-left: 217px;
  width: 566px;
  height: 26px;
  left: 216px;
  top: 237px;
}

.Left__Part__Title{
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.Right__Part__Image{
margin-right: 881px;
margin-top: 130px;
margin-bottom: 137px;
margin-left: 881px;
}

.Left__Part__Title__Title{
display: flex;
align-items: center;
font-family: Poppins;
font-size: 20px;
font-style: normal;
font-weight: 700;
text-align: left;
font-weight: bold;
line-height: 80px;
color: #000000;
}

.Left__Part__Title__SubTitle{
display: flex;
align-items: center;
  height: 26px;
  width: 566px;
  left: 216px;
  top: 237px; 
font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 54px;
color: #000000;
border-radius: nullpx;
}

.Left__Part__Publish__Btn{
  margin-left: 10%;
  margin-top: 30%;
}

.Left__Part__Publish__Btn__Style{
  background-color: #418DCB !important;
  border-radius: 3px !important;
  color: #fff !important;
  height: 40px;
  width: 131px;
  left: 216px;
  top: 350px;
border-radius: 0px;
position: absolute;
margin-top: 282px;
margin-bottom: 278px;
margin-left: 216px;
margin-right: 1093px;
}
.Right__Part{
height: 630px;
width: 324px;
left: -14px;
top: -36px;
border-radius: 0px;
margin-top: 135px;
margin-right: 250px;
margin-left: 139px;
margin-bottom: 144px;
}

.containerIphone{
    display: flex;
    position: relative;
    text-align: center;
    background-color: #D6ECF8;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    height: 590px;
    width: 300px;
    left: 120px;
    top: 1px;
}

.top-left {
  position: absolute;
  top: 39px;
  left: 16px;
}

.Left__Part__Editor {
height: 172px;
width: 544px;
left: 217px;
top: 371px;
border-radius: 0px;
}
.Summary{
  position: absolute;
  height: 47.17672348022461px;
  width: 545.3577270507812px;
  border-radius: 0px;
 
  margin-top: 307px;
  margin-bottom: 357px;
  margin-right: 678.64px;
  margin-left:216px ;
  background: #EFEFEF;
  border: 3px solid #EFEFEF;
  box-sizing: border-box;  
}

.textarea{
display: flex;
position: absolute;
height: 460px;
width: 264px;
left: 17px;
top: 52px;
border-radius: 27px;

  background: #ffffff;
}
.Header{
height: 15.60552978515625px;
width: 250.32113647460938px;
left: 105.13821411132812px;
top: 74px;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 16px;
letter-spacing: 0px;
text-align: center;
margin-top: 20px;
margin-left: 10px;
border-radius: nullpx;
}
.slidebartext{
height: 47.17672348022461px;
width: 545.3577270507812px;
left: 0px;
top: 0px;
border-radius: 0px;
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 600px;
line-height: 54px;
letter-spacing: 0px;
text-align: left;
background: #EFEFEF;
border: 3px solid #EFEFEF;
box-sizing: border-box;

}

.Left__Part_main{
  margin-top: 193px;
  margin-right: 658px;
  margin-left:216px;
  margin-bottom: 278px;
}